.displayBoard {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
  background-color: #f6f6f6;
}

.displayCategory {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #b8bcc2;
  box-shadow:
    0 4px 12px -4px hsla(0, 0%, 8%, 0.1),
    0 4px 6px -5px hsla(0, 0%, 8%, 0.05);
  background-color: #fff;
}

.displayCategoryHeader {
  background-color: #e74b3c;
  color: white;
  width: 100%;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayList {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
}

.displayListColumn {
  flex: 1 1 80px;
}
